.layout {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-rows: 32px auto;
  height: 100vh;
}

.top {
  grid-area: top;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
