.layout {
  display: grid;
  grid-template-areas: "left right" "todo right";
  grid-template-columns: auto 400px;
  grid-template-rows: 1fr 100px;
  height: 100vh;
}

.left {
  grid-area: left;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.right {
  grid-area: right;
  overflow-y: auto;
}

.top {
  display: flex;
  column-gap: 10px;
}

.todo {
  grid-area: todo;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid black;
  border-right: 2px solid black;
  padding-top: 4px;
  align-items: flex-start;
  column-gap: 8px;

  .entry {
    display: flex;
  }
}
