.coins {
  display: inline-flex;
  font-size: 0.8em;

  span {
    padding: 0 2px;
  }
}

.copper {
  background-color: brown;
  color: white;
}
.silver {
  background-color: darkgrey;
}
.gold {
  background-color: gold;
}
.platinum {
  background-color: blue;
  color: white;
}
.dementia {
  background-color: purple;
  color: white;
}
.void {
  background-color: black;
  color: white;
}
.lustre {
  background-color: lime;
}
.starfire {
  background-color: yellow;
}
.dreadlo {
  background-color: red;
}
.godshard {
  background-color: #4488aa;
  color: white;
}
.sunder {
  background-color: orange;
}
.tydal {
  background-color: skyblue;
}
.marbiglass {
  background-color: green;
  color: white;
}
.orberal {
  background-color: pink;
}
.eclipse {
  background-color: moccasin;
}
