.section {
  h2 {
    margin: 0;
  }
}

.dropper {
  margin: 10px 0;
  display: grid;
  grid-template-areas:
    "img name name"
    "img area area"
    "wanted wanted extra";
  grid-template-columns: 1fr 1fr 2fr;

  img {
    grid-area: img;
    max-height: 32px;
  }
  .name {
    grid-area: name;
  }
  .area {
    grid-area: area;
  }
  .wanted {
    grid-area: wanted;
  }
  > .extra {
    grid-area: extra;

    border: 1px solid black;
    padding: 4px;
    font-size: 0.8em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.recipe {
  margin: 10px 0;

  h3 {
    margin: 0;

    img {
      max-height: 32px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.mini {
  display: flex;
  align-items: center;
  column-gap: 4px;

  img {
    max-height: 16px;
  }

  .placeholder {
    width: 16px;
    line-height: 16px;
    text-align: center;
    background-color: silver;
  }
}
