.results {
  h2 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.section {
  margin: 10px 0;
}

.dropper {
  margin: 10px 0;

  .name {
    margin: 0;
  }

  .header {
    grid-area: header;
    font-weight: bold;

    img {
      grid-area: img;
      max-height: 32px;
    }
  }

  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > .extra {
      border: 1px solid black;
      padding: 4px;
      font-size: 0.8em;
    }
  }
}

.recipe,
.quest {
  margin: 10px 0;

  h3,
  h4 {
    margin: 0;

    img {
      max-height: 32px;
    }
  }
}

.quest {
  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
